body {
    overflow-x: hidden;
}

.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar .nav-item.active {
    border-left: #444 3px solid;
}

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
   
    background: url('../img/4767.png');
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    background-repeat: no-repeat;
    background-size:100%;

}

.carousel-image-2 {
    background: url('../img/IMG_3442-1024x768.jpeg');
    background-repeat: no-repeat;
    background-size:100%;

}

.carousel-image-3 {
    background: url('../img/44444.webp');
    background-repeat: no-repeat;
    background-size:100%;
}

#home-icons {}

#bg-box {
    background-image: url(../img/1.jpg);
    background-attachment: fixed;
    min-height: 200px;
    position: relative;
}

.dark-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#wat-we-do {
    background-image: url(../img/22.jpg);
    background-attachment: fixed;
    min-height: 200px;
    position: relative;
}

#main-footer {
    background-color: black;
    color: #fff;
}
iframe{
    width: 100%;
}

.about-banner {
    color: #fff;
    background-image: url(../img/44444.webp);
    background-attachment: fixed;
    height: 500%;
    background-repeat: no-repeat;
    background-size:100%;
}
.img-1{
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: space-between;
}


.about-img {
    margin-top: -80px;
}

.about-icons {
    margin-left: 10%;
    margin-right: 10%;
}

.boy {
    padding-left: 5%;
    padding-right: 5%;
}

.bo {
    background-color: brown;
    color: #fff;
}

.mani {
    background-color: black;
    color: #fff;
}

#fluid {
    margin-top: 100px;
}

.man {
    padding: 50%;
}

#footer {
    background-color: black;
}